<%= div_for(comment) do %>

<div class="comments_wrapper clearfix">
<div class="pull-left">

	<p class="lead"> <%= comment.body %> </p>

<p><small>Commentaire de: <%= comment.user.name %></small></p>

</div>


<div class="btn-group pull-right">

<% if comment.user == current_user %>
 
<!-- <%= link_to 'Supprimer', comment, method: :delete, data: { confirm: 'Ëtes-vous sûr de vouloir supprimer votre commentaire?'}, class: "btn btn-sm btn-green" %> -->

<% end %>

</div>

</div>
<% end %>